@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #131313;
  border-color: #131313;
}

a.dark {
  color: white;
}

.primary {
  background-color: #ffde00;
  border-color: #ffde00;
  color: #131313;
}
.primary:hover {
  background-color: #e6c800;
  border-color: #e6c800;
}
